* {
  box-sizing: border-box;
}
.text {
  font-family: "Gill Sans", sans-serif;
}

.text h2 {
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

.imagewithtext {
  padding: 30px 0px;
}

.imagewithtext.grey {
  background-color: rgb(226, 230, 235);
}

.imagewithtext.offwhite {
  background-color: rgb(226, 233, 240);
}

img {
  width: 100%;
}

p {
  font-size: 14px;
  line-height: 140%;
}

footer {
  text-align: center;
  margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration-color: black;
}
