* {
  box-sizing: border-box;
}
.text {
  font-family: "Gill Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

.imagewithtext {
  padding: 30px 0px;
}

.imagewithtext.grey {
  background-color: rgb(215, 230, 245);
}

.imagewithtext.offwhite {
  background-color: rgb(226, 233, 240);
}

img {
  width: 100%;
}

p {
  font-size: 14px;
  line-height: 140%;
}
